<div class="text-white bg-teal-600">
    <div class="container flex">
        <h1
          class="py-8 rounded-md text-4xl font-bold text-center md:text-left my-8"
        >
          <%= title %>
        </h1>
    </div>
</div>